{% include 'header.tpl' %}

{% if error_message %}
<div class="error"> {{ error_message }}</div>
{% endif %}

<form action="/login" method="post" style="width: 600px">
    <fieldset>
        <legend>Login</legend>
        <div>
            <label for="username" class="large">
                Username:
            </label>
            <input type="text" class="title" name="username" id="username">
        </div>
        <div>
            <label for="password" class="large">
                Password:
            </label>
            <input type="password" class="title" name="password" id="password">
            <label for="onetime">
                <input type="checkbox" name="onetime" id="onetime">
                one time password
            </label>
        </div>
        <div>
            <button type="submit" class="button positive">Login</button>
            or <a href="/register">register a new account</a>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
var id = function (value) {
    return document.getElementById(value);
};

window.onload = function () {
    var onetime  = id("onetime");
    var password = id("password");

    onetime.onclick = function () {
        password.disabled = onetime.checked;
    };
};
</script>

{% include footer.tpl %}
