<!DOCTYPE html>

<html>
<head>
    <title>Django OTP</title>
</head>
<body>

<h1>Django OTP</h1>

<form action="/" method="post">
    <fieldset>
        <legend>Login</legend>
        <div>
            <label for="username">
                Username:
                <input type="text" name="username" id="username">
            </label>
        </div>
        <div>
            <label for="password">
                Password:
                <input type="password" name="password" id="password">
            </label>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </fieldset>
</form>

</body>
</html>
